.menu{
    position: sticky;
    top: 40px;
    background-color: white;
    width: 300px;
    height: 400px;
    margin-left: 150px;
    padding-top: 10px;
    padding-left: 80px;
    padding-bottom: 20px;
    border-radius: 30px;
    box-shadow: 1px 2px 2px rgb(193, 199, 193);
}

.content{
    margin-top: 30px;
    list-style: none;
    font-weight: bold;
    color: gray;
    font-size: 18px;
    
}

.active{
    color: #3e5af5;
    font-weight: bold;
    
}

.explain{
    color: gray;
    font-size: 15px;
    margin-top: 5px;
}